p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: $primary-blue;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $primary-blue;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: $primary-blue;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: $primary-blue;
}

.header-title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: $primary-blue;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 50px;
}

.about {
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.center {
  text-align: center;
}