.logo {
  width: 120px;
}

.portrait {
  width: 100%;
  border-radius: 8px;
  height: 514px;
  object-fit: cover;
}

.project-img {
  width: 100%;
  height: 385px;
  object-fit: cover;
  border-radius: 8px;
}

.double-img-container {
  display: grid;
  grid-template-columns: 1fr;
}

.img-container {
  height: 385px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
}