.logo {
  width: 120px;
}

.portrait {
  width: 100%;
  border-radius: 8px;
  height: 514px;
  object-fit: cover;
}

.project-img {
  width: 100%;
  height: 385px;
  object-fit: cover;
  border-radius: 8px;
}